*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#header{
    margin: 7px 158px;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 256px;
}
.search{
    display: flex;
}
.search >input{
    width: 347px;
    height: 40px;
    border-radius: 20px;
    margin-top: 8px;
    padding-left: 12px;
}
.language-btn{
    margin-left: 6px;
    margin-top: 4px;
}
.language-btn img{
    width: 30px;
    height: 30px;
}
/* menu */
#header .bt-header{
    display: flex;
    justify-content: space-between;
}
#nav {
    display: flex;
    list-style: none;
}
#nav li,
#user li{
    padding: 0px 15px;
    position: relative;
}
#nav > li:hover{
    border-bottom: 2px solid #cf6a18;

}
#nav > li >a{
    text-transform: uppercase;
}
#nav li:hover .subnav,
#user li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    top: 106%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style: none;
}
#nav .subnav a{
    width: 155px;
}
#nav > li > a ,
#nav .subnav a,
#user .subnav a{
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 31px;
}
/* user */
#user {
    list-style: none;
}
#user .user-icon{
    line-height: 33px;
    color: #000;
    font-size: 25px;
    cursor: pointer;
}
#user .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    right: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style: none;
    
}
#user .subnav a{
    width: 178px;
}
.subnav li:hover {
    background: #ccc;
    
}
.subnav li{
    border-bottom: 2px solid #cf6a18;
}
/* end user */
#slide img{
    width: 100%;
    height: 529px;
}
#content{
    display: flex;
    justify-content: space-between;
    margin: 30px 160px;
}
.section-heading{
    color: #203772;
    font-size: 36px;
    margin-bottom: 30px;
    border-bottom: 3px solid #cf6a18;
    display: inline-block;
    padding-bottom: 6px;
}
.section-second{
    font-size: 25px;
    margin-bottom: 30px;
    margin-right: 50px;
}
.sub-section-heading{
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 45px;
}
.section-img{
    width: 702px;
    height: 468px;
}
.section-lean{
    font-style: italic;
    margin: 20px 130px;
}
.section-para{
    margin: 0px 120px 20px 15px;
}
.member-cover{
    width: 446px;
    height: 602px;
    margin-top: 40px;
}
.footer {
    background-color: #ccc;
    margin-top: 46px;
}

.footer-img {
    margin-bottom: 32px;
}

.content-footer {
    padding: 32px 0;
    width: 1200px;
    margin-right: auto;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.footer-img {
    width: 256px;
}

.lis-footer li {
    margin-top: 8px;
    list-style-type: none;
}

.lis-footer li span{
    color: #F26522;
}

.lis-footer li a {
    text-decoration: none;
    color: black;
}

.lis-footer h3{
    color: #F26522;
}

.lis-footer h3 a {
    color: #F26522;
    text-decoration: none;
}

.Orange {
    height: 25px;
    background-color: #F26522;
}

.copyright a {
    color: #fff;
    margin: 0 8px;
}

.end {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #223771;
    color: #fff;
}